DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=varto-db
DATABASE_PORT=5432
DATABASE_RESTART=no
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/varto-db

NODE_ENV=development